
header {
    width:100%;
    background-color:#222222;
    color:white;
    padding:15px;
}
article {
    color:black;
    width:60%;
    margin:auto;
    text-align: center;
    font-family:serif;
}
.hhead {
    display: inline;
    color:white;
    padding:10px;
}
.hlink {
    display: inline;
    color:white;
    padding:10px;
    text-decoration: none;
    background-color:inherit;
    border:none;
}
#stories {
    background-color:#333333;
    padding:20px;
}
.ahead {
    font-size: 30px;
}
.ameat {
    font-size:17px;
    text-align:left;
}